<script type="text/ng-template" id="popover_template.html">
    <ul class="nav nav-pills nav-stacked">
    <li ng-repeat='opcion in opciones'>
    <a ng-show="opcion.mostrar" href="{{'#/'+opcion.operacion+'/'+opcion.id}}" >{{opcion.name}}</a>   
    </li>
    </ul>
</script>
<ul ng class="nav nav-pills nav-stacked">
    <li ng-repeat='opcion in opciones'>
        <a ng-show="opcion.mostrar" href="{{'#/' + opcion.operacion + '/' + opcion.id}}" >{{opcion.name}}</a>
        <a ng-hide="opcion.mostrar"  ng-click="controller.show()">{{opcion.name}}h</a>
    </li>
</ul>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <center><h4>Carga de Campaña</h4></center>
                </div>
                <div class="panel-body">
                    <form name="showForm" ng-submit="controller.cargarCampagna()" method="post">
                        <div class="col-md-12">
                            <div class="form-group col-md-12">
                                <label>Estado:</label>
                                <select  class="form-control" name="estado" title="El estado es obligatorio" ng-model="estado" ng-required="true">
                                    <option value="0" selected="selected">Seleccione</option>
                                    <option value="3">Convocado</option>
                                    <option value="1">Asignado</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Campaña:</label>
                                <select  class="form-control" name="campagna" title="La Campaña es obligatoria" ng-model="campagna">
                                    <option value="0">Seleccione</option>
                                    <option  ng-repeat="campagna in campagnas" value="{{campagna.id}}" >{{campagna.name}}</option> 
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Cargo:</label>
                                <select  class="form-control" name="cargo" title="El cargo es obligatorio" ng-model="cargo">
                                    <option value="0">Seleccione</option>
                                    <option  ng-repeat="cargo in cargos" value="{{cargo.codigoCargo}}" >{{cargo.descripcion}}</option> 
                                </select>
                            </div>
                            <div class="form-group col-md-12" ng-show="estado === '1'">
                                <label>Nodo:</label>
                                <select  class="form-control" name="nodo" ng-model="departamento" ng-change="controller.buscarMunicipios()">
                                    <option value="0">Seleccione</option>
                                    <option  ng-repeat="departamento in departamentos" value="{{departamento.codigo}}" >{{departamento.nombre}}</option> 
                                </select>
                            </div>
                            <div class="form-group col-md-12" ng-show="estado === '1'">
                                <label>Municipio:</label>
                                <select  class="form-control" name="municipio" ng-model="municipio">
                                    <option value="0">Seleccione</option>
                                    <option  ng-repeat="municipio in municipios" value="{{municipio.codigoMunicipio}}" >{{municipio.nombre}}</option> 
                                </select>
                            </div>
                            <br/>
                            <div class="form-group col-md-6">
                                <input class="btn btn-danger btn-block" type="reset" value="Cancelar">
                            </div>
                            <div class="form-group col-md-6">
                                <input class="btn btn-primary btn-block" type="submit" value ="Cargar a campaña">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
